<div class="container">
  <div class="top-cards">
    <mat-card class="custom-card">
      <mat-card-header class="custom-header">
        <mat-card-title>Quantidade Total de Contratos</mat-card-title>
      </mat-card-header>
      <mat-card-content class="custom-content">
        <p>{{ totalContratos }} contratos</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="custom-card">
      <mat-card-header class="custom-header">
        <mat-card-title>Média de Valor dos Contratos</mat-card-title>
      </mat-card-header>
      <mat-card-content class="custom-content">
        <p>{{ ('R$ ' + (mediaContratos | number:'1.2-2')).replace('.', '|').replace(',', '.').replace('|', ',') }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="bottom-card">
    <mat-card class="custom-card">
      <mat-card-header class="custom-header">
        <mat-card-title>Valor Total de Contratos</mat-card-title>
      </mat-card-header>
      <mat-card-content class="custom-content">
        <p>{{ ('R$ ' + (valorTotal | number:'1.2-2')).replace('.', '|').replace(',', '.').replace('|', ',') }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
