<mat-card>
    <mat-card-header>
      <mat-card-title>Quantidade Total de Contratos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>4 contratos</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Média de Valor dos Contratos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>R$ 7.000,00</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Valor Total de Contratos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>R$ 40.000,00</p>
    </mat-card-content>
  </mat-card>