<div id="menu-lateral">
    <div class="menu">
        <mat-icon aria-hidden="false" aria-label="Início" fontIcon="home"></mat-icon>
        <p>Início</p>
    </div>
    <div class="menu">
        <mat-icon aria-hidden="false" aria-label="Cadastrar" fontIcon="assignment"></mat-icon>
        <p>Cadastrar</p>
    </div>
    <div class="menu">
        <mat-icon aria-hidden="false" aria-label="Pesquisar" fontIcon="search"></mat-icon>
        <p>Pesquisar</p>
    </div>
    <div class="menu">
        <mat-icon aria-hidden="false" aria-label="Analitico" fontIcon="table_chart"></mat-icon>
        <p>Analítico</p>
    </div>
</div>

<div id="versao">
    <p>#INTERNO.CAIXA</p>
    <P>Versão 1.0</P>
</div>